.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*Mi Css*/
.navbar-brand{ margin-right: 40%;
}
.iconCart{
  margin-left: 800px;
  width: 30px; height: 30px;
}
.listContainer{margin-top: 35px;}


.btn-dark {width: 40px; height: 40px;
  margin:10px;}
  .btn-light{margin: 5px;}
/*Fin Mi Css*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
